<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Board</title>

    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css"
          th-href="@{/semantic/dist/semantic.min.css}"/>
    <link rel="stylesheet" type="text/css" href="/templates/board/board.css" th-href="@{/templates/board/board.css}"/>
    <script src="/lib/jquery-3.1.1.min.js" th-href="@{/lib/jquery-3.1.1.min.js}"/>
    <script src="/semantic/dist/semantic.min.js" th-href="@{/semantic/dist/semantic.min.js}"/>
    <script src="/node_modules/sortablejs/Sortable.min.js" th-href="@{/node_modules/sortablejs/Sortable.min.js}"/>
</head>
<body>
<div class="board ui inverted segment">
    <div class="board-head ui red header">
        <div class="ui breadcrumb">
            <i class="ui right angle icon"/>
            <div class="active section" th:text="${board.name}"/>
        </div>
    </div>
    <div class="ui divider"/>
    <div class="board-body">
        <div id="boardCards" class="ui four column doubling stackable grid container">
            <div class="column">
                <div class="ui card">
                    <div class="ui inverted content">
                        <div class="header">Cute Dog 1</div>
                        <div class="meta card-update-date">Last update: today</div>
                        <div class="ui segments inverted stickers">
                            <div class="ui red segment sticker">
                                <div class="sticker-title">Task 1</div>
                                <div class="status">In progress</div>
                                <div class="labels">Labels</div>
                                <div class="assignees">Assignees</div>
                            </div>
                            <div class="ui red segment sticker">
                                <div class="sticker-title">Task 2</div>
                                <div class="status">Finished yesterday</div>
                                <div class="labels">Labels</div>
                                <div class="assignees">Assignees</div>
                            </div>
                        </div>
                        <div class="meta card-create-date">Create date: 18.12.2016</div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui card">
                    <div class="content">
                        <div class="header">Cute Dog 2</div>
                        <div class="meta card-update-date">Last update: yesterday</div>
                        <div class="ui segments inverted stickers">
                            <div class="ui red segment sticker">
                                <div class="sticker-title">Task 3</div>
                                <div class="status">In progress</div>
                                <div class="labels">Labels</div>
                                <div class="assignees">Assignees</div>
                            </div>
                            <div class="ui red segment sticker">
                                <div class="sticker-title">Task 4</div>
                                <div class="status">Finished yesterday</div>
                                <div class="labels">Labels</div>
                                <div class="assignees">Assignees</div>
                            </div>
                        </div>
                        <div class="meta card-create-date">Create date: 19.12.2016</div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui card">
                    <div class="content">
                        <div class="header">Cute Dog 3</div>
                        <div class="meta card-update-date">Last update: yesterday</div>
                        <div class="ui segments inverted stickers">
                            <div class="ui red segment sticker">
                                <div class="sticker-title">Task 5</div>
                                <div class="status">In progress</div>
                                <div class="labels">Labels</div>
                                <div class="assignees">Assignees</div>
                            </div>
                            <div class="ui red segment sticker">
                                <div class="sticker-title">Task 6</div>
                                <div class="status">Finished yesterday</div>
                                <div class="labels">Labels</div>
                                <div class="assignees">Assignees</div>
                            </div>
                        </div>
                        <div class="meta card-create-date">Create date: 19.12.2016</div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui card">
                    <div class="content">
                        <div class="header">Cute Dog 4</div>
                        <div class="meta card-update-date">Last update: yesterday</div>
                        <div class="ui segments inverted stickers">
                            <div class="ui red segment sticker">
                                <div class="sticker-title">Task 7</div>
                                <div class="status">In progress</div>
                                <div class="labels">Labels</div>
                                <div class="assignees">Assignees</div>
                            </div>
                            <div class="ui red segment sticker">
                                <div class="sticker-title">Task 8</div>
                                <div class="status">Finished yesterday</div>
                                <div class="labels">Labels</div>
                                <div class="assignees">Assignees</div>
                            </div>
                        </div>
                        <div class="meta card-create-date">Create date: 19.12.2016</div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui card">
                    <div class="content">
                        <div class="header">Cute Dog 5</div>
                        <div class="meta card-update-date">Last update: yesterday</div>
                        <div class="ui segments inverted stickers">
                            <div class="ui red segment sticker">
                                <div class="sticker-title">Task 9</div>
                                <div class="status">In progress</div>
                                <div class="labels">Labels</div>
                                <div class="assignees">Assignees</div>
                            </div>
                            <div class="ui red segment sticker">
                                <div class="sticker-title">Task 10</div>
                                <div class="status">Finished yesterday</div>
                                <div class="labels">Labels</div>
                                <div class="assignees">Assignees</div>
                            </div>
                        </div>
                        <div class="meta card-create-date">Create date: 19.12.2016</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<footer>
    <script src="/templates/board/board.js"></script>
</footer>

</html>